clients.conf
*.pyc
mods-config/python/network.json*
mods-config/python/tests/alt.json
mods-config/python/tests/actual.*
mods-config/python/utils/users/*
mods-config/python/keyfile
certs/*.pem
certs/*.der
certs/*.csr
certs/*.crt
certs/*.key
certs/*.p12
certs/serial*
certs/index.txt*
certs/passwords.mk
certs/dh
certs/random
*.log*
*.db
